default:
  suites:
    default:
      contexts:
        - FeatureContext
        - Behat\MinkExtension\Context\MinkContext
        - LoversOfBehat\TableExtension\Context\TableContext
  extensions:
    Behat\MinkExtension:
      base_url: "http://localhost:8000/"
      sessions:
        default:
          goutte: ~
    LoversOfBehat\TableExtension:
      table_map:
        'simple': '#simple-table'
        'Algarve': 'table:nth-of-type(2)'
        'Population data': 'table.countries'
        'Employees': '.employees > table'
        'Mad spanner': '.madspans'
        'User roles': '.roles'
